<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Saturn</title>
    <meta name="author" content="Author's Name">
    <!--
        Author: Author's Name
        Date: September 30, 2023
        Description: This is a sample EJS file with author information.
    -->
</head>
<body>
    <!-- Your HTML content goes here -->
    <h1>Welcome to Saturn</h1>
</body>
</html>